.btn {
	display: inline-block;
	padding: 0px 54px;
	transition: all 0.5s ease;
	position: relative;
	color: #000;
	font-size: 15px;
	line-height: 21px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	height: 48px;
	line-height: 45px;
	text-decoration: none;
	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(to bottom, rgba(195, 167, 117, 1) 50%, rgba(141, 100, 46, 1) 100%);
		transition: all 0.3s ease;
		opacity: 0;
	}
	&-w {
		color: #fff;
	}
	&__z {
		position: relative;
		z-index: 2;
	}
	&__body {
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 3px;
			background-color: #c3a775;
		}
		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 3px;
			background-color: #8d642e;
		}
	}
	&__zi {
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 3px;
			height: 100%;
			background-image: linear-gradient(to top, rgba(141, 100, 46, 1) 0%, rgba(195, 167, 117, 1) 100%);
		}
		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			right: 0;
			width: 3px;
			height: 100%;
			background-image: linear-gradient(to top, rgba(141, 100, 46, 1) 0%, rgba(195, 167, 117, 1) 100%);
		}
	}
}
@media (min-width: 991.98px) {
	.btn {
		&:hover {
			&::after {
				opacity: 0.3;
			}
		}
	}
}
