.quotes {
	padding: 60px 0px 75px 0px;
}

.item-quotes {
	display: flex;
	&__img {
		text-align: center;
		width: 33.7%;
		img {
			max-width: 100%;
		}
	}

	&__body {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0px 0px 0px 20px;
	}

	&__text {
		width: 520px;
		font-size: 25px;
		font-style: italic;
		text-align: left;
		line-height: 30px;
		margin: 0px 0px 30px 0px;
	}

	&__name {
		color: #1c242a;
		font-size: 15px;
		margin: 0px 0px 12px 0px;
	}

	&__date {
		color: #1c242a;
		font-size: 15px;
	}
}

.control-quotes {
	display: flex;
	align-items: center;
	justify-content: center;
	&__arrow {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			width: 10px;
			height: 10px;
			top: 50%;
			transform: translateY(-50%);
			border: 1px solid $main-color;
			border-radius: 100%;
		}
		&::after {
			content: "";
			position: absolute;
			width: 110px;
			height: 1px;
			top: 50%;
			background-color: $main-color;
		}
	}

	&__arrow-l {
		&::before {
			content: "";
			right: 0;
		}
		&::after {
			content: "";
			right: 15px;
		}
	}

	&__decor {
		margin: 0px 50px;
	}

	&__arrow-r {
		&::before {
			content: "";
			left: 0;
		}
		&::after {
			content: "";
			left: 15px;
		}
	}
}
