@media (min-width: 991.98px) {
	.header {
		&__link {
			&:hover {
				color: $main-color;
				text-shadow: 1px 1px 5px $main-color;
			}
		}
	}
	.user {
		&__link {
			&:hover {
				color: $main-color;
				text-shadow: 1px 1px 5px $main-color;
			}
		}
	}
}
@media (max-width: 991.98px) {
	.header {
		&__list {
			li {
				margin: 0px 5px;
			}
		}
		&__link {
			line-height: 0;
			font-size: 17px;
		}
		&__region {
			display: none;
		}
	}
}
@media (max-width: 767.98px) {
	body.lock {
		overflow: hidden;
	}
	.header {
		&__burger {
			display: block;
			position: relative;
			width: 30px;
			height: 20px;
			z-index: 3;
			top: 17px;
			left: 10px;
			span {
				position: absolute;
				top: 9px;
				left: 0;
				background-color: $main-color;
				width: 100%;
				height: 2px;
				transition: all 0.3s ease;
			}
			&::before,
			&::after {
				content: "";
				position: absolute;
				width: 100%;
				height: 2px;
				left: 0;
				background-color: $main-color;
				transition: all 0.3s ease;
			}
			&::before {
				top: 0;
			}
			&::after {
				bottom: 0;
			}
			&.active:before {
				transform: rotate(45deg);
				top: 9px;
			}
			&.active:after {
				transform: rotate(-45deg);
				bottom: 9px;
			}
			&.active span {
				transform: scale(0);
			}
		}
		&__row {
			padding: 0px 0px 0px 0px;
		}
		&__logo {
			position: absolute;
			top: -10px;
			left: 50%;
			transform: translate(-50%);
		}
		&__menu {
			position: fixed;
			top: -100%;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.7);
			padding: 70px 0px 20px 0px;
			transition: all 0.3s ease;
			opacity: 0;
			visibility: hidden;
			overflow: auto;
			text-align: center;
			&.active {
				top: 0;
				opacity: 1;
				visibility: visible;
			}
			.header__region {
				display: inline-block;
				padding: 8px 0 0 40px;
				background: url("../img/icons/region.png") left -13px no-repeat;
			}
		}
		&__list {
			display: block;
			li {
				margin: 0px 0px 30px 0px;
				&:last-child {
					margin: 0px 0px 22px 0px;
				}
			}
		}
		&__link {
			font-size: 30px;
		}
		&__user {
			padding: 0px 0px 0px 0px;
		}
	}
	.user {
		margin: -10px 0px 0px 0px;
		&__list {
			&.active {
				top: 23px;
			}
		}
	}
}
