@media (min-width: 991.98px) {
}
@media (max-width: 1199.98px) {
}
@media (max-width: 991.98px) {
}

@media (max-width: 767.98px) {
	.quotes{
		padding: 30px 0px 30px 0px;
	}
	.item-quotes{
		display: block;
		&__body{
			justify-content: center;
			align-items: center;
		}
		&__img{
			padding: 20px 0px 0px 0px;
			width: 100%;
		}
		&__text{
			text-align: center;
		}
	}
}

@media (max-width: 575.98px) {
	.item-quotes{
		&__body{
			padding: 0px 0px;
		}
		&__text{
			width: 100%;
			margin: 0px 0px 15px 0;
		}
	}
}
