@import "base/null.scss";
@import "base/variables";
@import "base/fonts";
@import "base/btn";
@import "base/links";

* {
	font-family: "PT Sans", sans-serif;
	margin: 0;
	padding: 0;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.container {
	max-width: 983px;
	margin: 0px auto;
	padding: 0px 15px;
	@media (max-width: 1199.98px) {
		max-width: 970px;
	}
	@media (max-width: 991.98px) {
		max-width: 750px;
	}
	@media (max-width: 767.98px) {
		max-width: none;
	}
}

// for fullscrenn
// .wrapper {
// 	min-height: 100vh;
// 	overflow: hidden;
// 	display: flex;
// 	flex-direction: column;
// }

// .page {
// 	display: flex;
// 	flex-direction: column;
// 	position: absolute;
// 	width: 100%;
// 	height: 100%;
// 	top: 0;
// 	left: 0;
// }

@import "blocks/header";
@import "blocks/main_slider";
@import "blocks/trade";
@import "blocks/categories";
@import "blocks/text";
@import "blocks/services";
@import "blocks/quotes";
@import "blocks/footer";

@import "media/header_media";
@import "media/main_slider_media";
@import "media/trade_media";
@import "media/categories_media";
@import "media/services_media";
@import "media/quotes_media";
@import "media/footer_media";
